<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="./css/elementui.css">
    <link rel="stylesheet" href="./css/common.css">
    <script src="/users/checkUser"></script>
    <style>
        .el-input {
            width: 300px;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <!-- 主体表格头部 -->
                <div slot="header" class="clearfix card-head">
                    <span>添加商品</span>
                </div>
                <!-- 主体表格内容 -->
                <div class="text item">
                    <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm" :label-position="labelPosition">
                        <el-form-item label="所属分类" prop="cg_id">
                            <el-select v-model="ruleForm2.cg_id" placeholder="请选择">
                                <el-option v-for="item in options" :label="item.cg_name" :value="item.cg_id" :key="item.cg_id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="商品条形码" prop="barCode">
                            <el-input v-model="ruleForm2.barCode" placeholder="请输入内容"></el-input>
                            <el-button type="primary" @click="getBarCode()" size="mini">生成条形码</el-button>
                        </el-form-item>
                        <el-form-item label="商品名称" prop="goodsName">
                            <el-input v-model="ruleForm2.goodsName" placeholder="请输入内容"></el-input>
                        </el-form-item>
                        <el-form-item label="商品进价" prop="goodsPrice" >
                            <el-input v-model="ruleForm2.goodsPrice" placeholder="请输入内容" @change="aa()"></el-input>&emsp;元
                        </el-form-item>
                        <el-form-item label="市场价">
                            <el-input v-model="ruleForm2.marketPrice" placeholder="请输入内容"></el-input>&emsp;元
                            <br>
                            <span class="form-msg">默认市场价为售价的1.2倍</span>
                        </el-form-item>
                        <el-form-item label="商品售价" prop="salePrice">
                            <el-input v-model="ruleForm2.salePrice" placeholder="请输入内容"></el-input>&emsp;元
                        </el-form-item>
                        <el-form-item label="入库数量">
                            <el-input v-model="ruleForm2.stockNum" placeholder="请输入内容"></el-input>
                            <br>
                            <span class="form-msg">计重商品单位为kg</span>
                        </el-form-item>
                        <el-form-item label="商品重量">
                            <el-input v-model="ruleForm2.weigth" placeholder="请输入内容"></el-input>
                        </el-form-item>
                        <el-form-item label="商品单位">
                            <el-input v-model="ruleForm2.unit" placeholder="请输入内容"></el-input>
                        </el-form-item>
                        <el-form-item label="会员优惠">
                            <el-radio v-model="ruleForm2.discount" label="1">享受</el-radio>
                            <el-radio v-model="ruleForm2.discount" label="0">不享受</el-radio>
                        </el-form-item>
                        <el-form-item label="是否促销">
                            <el-radio v-model="ruleForm2.promotion" label="1">启用</el-radio>
                            <el-radio v-model="ruleForm2.promotion" label="0">禁用</el-radio>
                        </el-form-item>

                        <el-form-item label="商品简介">
                            <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入内容" v-model="ruleForm2.goodsDetails">
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm2')">提交</el-button>
                            <el-button @click="resetForm('ruleForm2')">重置</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-card>
        </el-main>
    </div>

    <!-- 引入jq -->
    <script src="./js/jquery-1.11.2.js"></script>
    <!-- 引入vue -->
    <script src="./js/vue.js"></script>
    <!-- 引入elememtui -->

    <script src="./js/elementui.js"></script>
    <script>
        //得到顶级vue实例
        let childDomain = document.domain;
        document.domain = childDomain;
        window.topVue = top.indexVue;
        new Vue({
            el: '#app',
            data() {
                return {
                    labelPosition: 'right',
                    ruleForm2: {
                        cg_id: '',
                        barCode: '',
                        goodsName: '',
                        salePrice: 0,
                        marketPrice: 0,
                        goodsPrice: 0,
                        stockNum: 0,
                        weigth: 0,
                        unit: '',
                        discount: '0',
                        promotion: '0',
                        goodsDetails: ''
                    },
                    options: [],
                    rules2: {   //from表单前四个做非空验证
                        cg_id: [
                            { required: true, message: '请选择商品种类', trigger: 'blur'},
                        ],
                        barCode: [
                            { required: true, message: '请输入条形码', trigger: 'change'},
                        ],
                        goodsName: [
                            { required: true, message: '请输入名字', trigger: 'blur'},
                        ],
                        goodsPrice: [
                            { required: true, message: '请输入价格', trigger: 'blur'},
                        ],
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            $.post('/goods/addGoods',this.ruleForm2,(data)=>{
                                topVue.open(data);
                                if(data.isOk){
                                    this.resetForm('ruleForm2');
                                }
                            })
                        } else {
                            console.log('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                },
                //渲染下拉框
                getSoft(){
                    $.get('/goods/getSoftList',(data)=>{
                        this.options.push(...data);
                    })
                },
                aa(){
                    this.ruleForm2.goodsPrice = parseFloat(this.ruleForm2.goodsPrice).toFixed(2);
                    this.ruleForm2.marketPrice = (this.ruleForm2.goodsPrice*1.3).toFixed(2);
                    this.ruleForm2.salePrice = (this.ruleForm2.goodsPrice*1.2).toFixed(2);
                },
                getBarCode(){
                    this.ruleForm2.barCode = new Date().getTime();
                }
            },
            mounted(){
                this.getSoft();
            }
        })
    </script>
</body>

</html>