<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改管理账号</title>
    <link rel="stylesheet" href="./css/elementui.css">
    <link rel="stylesheet" href="./css/common.css">
    <script src="/users/checkUser"></script>
</head>
<style>
    .el-form {
        width: 420px;
    }

    .el-form-item__label {
        line-height: 100%;
    }
</style>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>修改管理账号</span>
                </div>
                <div class="text item">
                    <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm" :label-position="labelPosition">
                        <el-form-item label="用户名" prop="userName">
                            <el-input v-model="ruleForm2.userName"></el-input>
                        </el-form-item>
                        <el-form-item label="密码" prop="pass">
                            <el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="确认密码" prop="checkPass">
                            <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="选择用户组" prop="userGroup">
                            <el-select v-model="ruleForm2.userGroup" placeholder="请选择">
                                <el-option v-for="item in userGroupName" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="submitForm('ruleForm2')">修改</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-card>
        </el-main>
    </div>

    <!-- 引入jq -->
    <script src="./js/jquery-1.11.2.js"></script>
    <!-- 引入vue -->
    <script src="./js/vue.js"></script>
    <!-- 引入elememtui -->
    <script src="./js/elementui.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                //验证两次密码是否一致
                var validatePass2 = (rule, value, callback) => {
                    if (value !== this.ruleForm2.pass) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();
                    }
                };
                return {
                    labelPosition: 'top',   //设置label的位置
                    userGroupName: [
                        { value: '超级管理员', label: '超级管理员' },
                        { value: '管理员', label: '管理员' },
                        { value: '普通用户', label: '普通用户' },
                    ],
                    ruleForm2: {
                        userName: '',
                        pass: '',
                        checkPass: '',
                        userGroup: '',
                        id: 0,
                        oldPwd: ''
                    },
                    rules2: {
                        userName: [
                            { required: true, message: '请输入用户名', trigger: 'blur' },
                        ],
                        pass: [
                            { required: true, message: '请输入密码', trigger: 'blur' },
                            { min: 4, max: 32, message: '长度在 6 到 32 个字符', trigger: 'blur' },
                            { min: 4, max: 32, message: '长度在 6 到 32 个字符', trigger: 'blur' }
                        ],
                        checkPass: [
                            { required: true, message: '请再次输入密码', trigger: 'blur' },
                            { validator: validatePass2, trigger: 'blur' }
                        ],
                        userGroup: [
                            { required: true, message: '请选择用户组', trigger: 'change' }
                        ]
                    }
                };
            },
            methods: {
                //提交表单函数
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            //验证成功后向后台发送ajax
                            $.post('/users/editManageAccount', this.ruleForm2, (data) => {
                                //弹出提示框
                                this.open(data)
                                if (data) {
                                    //成功跳转页面
                                    location.href = '/user_list.html?msg='+data.msg;
                                }
                            })
                        } else {
                            //提示框
                            this.open({isOk:false,msg: '修改失败请检查'})
                            return false;
                        }
                    });
                },
                //弹出提示框函数
                open(data){
                    this.$message({ message: data.msg, type: data.isOk ? 'success' : 'error', center: true });
                }

            },
            mounted(){
                //获取上个页面传来的id
                let id = location.href.split('=')[1];
                //向后台发ajax获取该条数据
                $.get('/users/getDataById',{id},(data)=>{
                    data = data[0];
                    //渲染表单
                    this.ruleForm2.userName = data.userName;
                    this.ruleForm2.pass = data.userPwd;
                    this.ruleForm2.checkPass = data.userPwd;
                    this.ruleForm2.userGroup = data.userGroup;
                    //缓存数据
                    this.ruleForm2.id = data.id;
                    this.ruleForm2.oldPwd = data.userPwd;
                })
            }
        })

    </script>
</body>

</html>