<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品管理</title>
    <link rel="stylesheet" href="./css/elementui.css">
    <link rel="stylesheet" href="./css/common.css">
    <script src="/users/checkUser"></script>
</head>
<style>
    .el-pagination {
        margin-top: 30px;
    }
    .f-red{
        color: red;
    }
</style>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <!-- 卡片头部 -->
                <div slot="header" class="clearfix">
                    <span>商品管理</span>
                </div>
                <!-- 卡片身体 -->
                <div class="text item">
                    <!-- 搜索表单 -->
                    <el-form :inline="true" :model="search" class="demo-form-inline" size="mini">
                        <el-form-item>
                            <el-select v-model="search.soft" placeholder="---选择分类---">
                                <el-option v-for="item in options" :label="item.cg_name" :value="item.cg_id" :key="item.cg_id">
                            </el-select>
                        </el-form-item>
                        <el-form-item label="关键字">
                            <el-input v-model="search.keyWords" placeholder="商品名称,条形码"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">查询</el-button>
                        </el-form-item>
                    </el-form>
                    <div style="height: 2px;border: 1px solid #ccc"></div>
                    <!-- 表格 -->
                    <el-table :data="tableData" style="width: 100%">
                        <el-table-column prop="barcode" label="商品条形码" width="180">
                        </el-table-column>
                        <el-table-column prop="goodsname" label="商品名称" width="180">
                        </el-table-column>
                        <el-table-column prop="cg_name" label="所属分类">
                        </el-table-column>
                        <el-table-column label="售价(元)">
                            <template slot-scope="scope">
                                <span class="f-red"> {{ scope.row.saleprice | formatPrice }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="进价(元)">
                            <template slot-scope="scope">
                                <span> {{ scope.row.goodsprice | formatPrice }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="市场价(元)">
                            <template slot-scope="scope">
                                <span> {{ scope.row.marketprice | formatPrice }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="stockNum" label="库存">
                        </el-table-column>
                        <el-table-column prop="storeTotal" label="库存总额(元)">
                            <template slot-scope="scope">
                                <span class="f-red"> {{ (scope.row.goodsprice * (scope.row.stockNum - scope.row.saleNum)) |formatPrice}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="sellTotal" label="销售总额(元)">
                            <template slot-scope="scope">
                                <span class="f-red"> {{ (scope.row.saleprice * scope.row.saleNum) | formatPrice}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="管理">
                            <template slot-scope="scope">
                                <el-button type="primary" plain size="mini" @click="handleEdit(scope.$index, scope.row)">
                                    <i class="el-icon-edit"></i>
                                </el-button>
                                <el-button size="mini" type="danger" plain @click="handleDelete(scope.$index, scope.row)">
                                    <i class="el-icon-delete"></i>
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!-- 分页 -->
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[2,4,8,10]"
                        :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total" background>
                    </el-pagination>
                </div>
            </el-card>
        </el-main>
    </div>

    <!-- 引入jq -->
    <script src="./js/jquery-1.11.2.js"></script>
    <!-- 引入vue -->
    <script src="./js/vue.js"></script>
    <!-- 引入elememtui -->
    <script src="./js/elementui.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    currentPage: 1, //当前页数
                    total: 0,   //总页数
                    pageSize: 4, //每页条数
                    options: [],
                    search: {
                        soft: '',
                        keyWords: ''
                    },
                    tableData: [],
                }
            },
            methods: {
                onSubmit() {
                    $.post('/goods/search',this.search,(data)=>{
                        this.tableData = data;
                    })
                },
                //修改
                handleEdit(index, row) {
                    console.log(index, row);
                },
                //删除
                handleDelete(index, row) {
                    console.log(index, row);
                },
                //渲染下拉框函数
                getSoft() {
                    $.get('/goods/getSoftList', (data) => {
                        this.options = data;
                    })
                },
                //渲染表格函数
                getGoodsData(){
                    let arr = {'currentPage': this.currentPage,'pageSize': this.pageSize}
                    $.get('/goods/getGoods',arr, (data) => {
                        this.tableData = data;
                    });
                },
                //分页函数
                handleSizeChange(val) {
                    this.pageSize = val;
                    this.currentPage = 1;
                    this.getGoodsData();
                },
                handleCurrentChange(val) {
                    this.currentPage = val;
                    this.getGoodsData();
                }
            },
            mounted() {
                //渲染下拉列表
                this.getSoft();
                //渲染总页数
                $.get('/goods/getGoodsLength',(data)=>{
                    this.total = data.total;
                });
                //加载第一页
                this.getGoodsData();
            },
            filters: {
                //过滤器做一个管道格式化价格
                formatPrice(price) {
                    return price.toFixed(2);
                }
            }
        })

    </script>
</body>

</html>