<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品管理</title>
    <link rel="stylesheet" href="./css/elementui.css">
    <link rel="stylesheet" href="./css/common.css">
    <script src="/users/checkUser"></script>
</head>
<style>
    .el-pagination {
        margin-top: 30px;
    }
    .el-select{
        width: 178px;
    }
</style>

<body>
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <!-- 卡片头部 -->
                <div slot="header" class="clearfix">
                    <span>商品管理</span>
                </div>
                <!-- 卡片身体 -->
                <div class="text item">
                    <!-- 搜索表单 -->
                    <el-form :inline="true" :model="search" class="demo-form-inline" size="mini">
                        <el-form-item label="">
                            <el-input v-model="search.startTime" placeholder="开始时间"></el-input>
                        </el-form-item>
                        <el-form-item label=": 开始时间&emsp;结束时间 :">
                            <el-input v-model="search.endTime" placeholder="结束时间"></el-input>
                        </el-form-item><span style="line-height: 28px; font-size: 14px;color: #999;">格式: (2012-01-01)</span>
                        <br>
                        <el-form-item>
                            <el-select v-model="search.soft" placeholder="---选择分类---">
                                <el-option v-for="item in options" :label="item.cg_name" :value="item.cg_id" :key="item.cg_id">
                            </el-select>
                        </el-form-item>
                        <el-form-item label="关键字 :">
                            <el-input v-model="search.keyWords" placeholder="商品名称,条形码"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">查询</el-button>
                        </el-form-item>
                    </el-form>
                    <div style="height: 2px;border: 1px solid #ccc"></div>
                    <!-- 表格 -->
                    <el-table :data="tableData" style="width: 100%">
                        <el-table-column prop="order" label="订单号" width="180">
                        </el-table-column>
                        <el-table-column prop="sum" label="数量" width="180">
                        </el-table-column>
                        <el-table-column prop="goodsprice" label="实际售价">
                        </el-table-column>
                        <el-table-column prop="stockNum" label="优惠">
                        </el-table-column>
                        <el-table-column label="退款" prop="tuikuan">
                        </el-table-column>
                        <el-table-column prop="saleTime" label="销售时间">
                        </el-table-column>
                        <el-table-column label="管理">
                            <template slot-scope="scope">
                                <el-button type="primary" plain size="mini" @click="handleEdit(scope.$index, scope.row)">
                                    <i class="el-icon-edit"></i>
                                </el-button>
                                <el-button size="mini" type="danger" plain @click="handleDelete(scope.$index, scope.row)">
                                    <i class="el-icon-delete"></i>
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!-- 分页 -->
                    <!-- 分页 -->
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[2,4,8,10]"
                        :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
                    </el-pagination>
                </div>
            </el-card>
        </el-main>
    </div>

    <!-- 引入jq -->
    <script src="./js/jquery-1.11.2.js"></script>
    <!-- 引入vue -->
    <script src="./js/vue.js"></script>
    <!-- 引入elememtui -->
    <script src="./js/elementui.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    currentPage: 1, //当前页数
                    total: 1,   //总页数
                    pageSize: 4, //每页条数
                    options: [],
                    search: {
                        soft: '',
                        keyWords: ''
                    },
                    tableData: [
                        {  order: '123456789',sum: 45,goodsprice: 23.00,stockNum: 2.00,tuikuan: 5,saleTime: '2018-11-11',},
                        {  order: '456789123',sum: 35,goodsprice: 23.00,stockNum: 2.00,tuikuan: 5,saleTime: '2018-12-11',},
                        {  order: '987654321',sum: 25,goodsprice: 23.00,stockNum: 2.00,tuikuan: 5,saleTime: '2016-11-11',},
                        {  order: '654987321',sum: 15,goodsprice: 23.00,stockNum: 2.00,tuikuan: 5,saleTime: '2017-11-11',},
                    ],
                }
            },
            methods: {
                onSubmit() {

                },
                handleEdit(index, row) {
                    console.log(index, row);
                },
                handleDelete(index, row) {
                    console.log(index, row);
                },
                //分页函数
                handleSizeChange(val) {
                    this.pageSize = val;
                    this.currentPage = 1;
                    this.getGoodsData();
                },
                handleCurrentChange(val) {
                    this.currentPage = val;
                    this.getGoodsData();
                }
            },
        })

    </script>
</body>

</html>